.header__menu-email {
    margin: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}
