.page {
    max-width: 880px;
    min-width: 320px;
    margin: auto;
    position: relative;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 918px) {
    .page {
        margin: 0 19px;
    }
}

@media screen and (max-width: 600px) {
    .page {
        margin: 0;
    }
}